.header-nav {
  background: darkblue;
}
.header-ul {
  display: flex;
  justify-content: flex-start;
}
.header-ul li {
  padding: 10px;
  margin-left: 30px;

  cursor: pointer;
  color: white;
  list-style-type: none;
}
.header-ul li:hover {
  background: white;
  color: darkblue;
}
